<div class="row">
  <form class="row g-3" action="/addPlayer" method="post">
    <div class="col-md-6">
      <label for="fname" class="form-label">Imie</label>
      <input
        class="form-control <%-errors?.errors?.fname? 'is-invalid':''%>"
        type="text"
        name="fname"
        id="fname"
      />

      <%if(errors?.errors?.fname ){%>
      <div class="invalid-feedback">Podaj imie</div>
      <%}%>
    </div>
    <div class="col-md-6">
      <label for="lname" class="form-label">Nazwisko</label>
      <input
        class="form-control <%-errors?.errors?.lname? 'is-invalid':''%>"
        type="text"
        name="lname"
        id="lname"
      />

      <%if(errors?.errors?.lname ){%>
      <div class="invalid-feedback">Podaj nazwisko</div>
      <%}%>
    </div>
    <div class="col-md-6">
      <label for="date" class="form-label">Data urodzenia</label>
      <input
        class="form-control <%-errors?.errors?.birthDate? 'is-invalid':''%>"
        type="date"
        name="date"
        id="date"
      />

      <%if(errors?.errors?.birthDate ){%>
      <div class="invalid-feedback">Pole data nie może być pusta</div>
      <%}%>
    </div>
    <div class="col-md-6">
      <label for="team">Drużyna</label>
      <select
        class="form-select <%-errors?.errors?.teamId? 'is-invalid':''%>"
        name="teamId"
        id="team"
      >
        <option value="<%=teams._id%>" selected disabled hidden>
          Choose here
        </option>
        <% teams.forEach(teams =>{ %>
        <option value="<%=teams._id%>"><%=teams.name%></option>
        <%});%>
      </select>

      <%if(errors?.errors?.teamId){%>
      <div class="invalid-feedback">Wybierz drużynę</div>
      <%}%>
    </div>
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
</div>
